/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #FADADD;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* IMAGE LAYOUT */
#image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

#image-container img {
    max-width: 180px;
    height: auto;
}

/* TEXT */
#question {
    font-family: 'Sacramento', cursive;
    font-size: 52px;
}

#options {
    margin-top: 20px;
}

/* BUTTONS */
button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 26px;
    font-family: 'Sacramento', cursive;
    background-color: #FB607F;
    color: white;
    border: none;
    cursor: pointer;
}
/* END SCREEN DESIGN */
.end-screen {
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    animation: popIn 0.6s ease;
}

.end-screen img {
    max-width: 220px;
    border-radius: 15px;
}

.end-message {
    font-family: 'Sacramento', cursive;
    font-size: 36px;
    color: #FB607F;
}

/* Small animation */
@keyframes popIn {
    from {
        transform: scale(0.85);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

